# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/configure.scan
/autoscan.log
/src/.deps/


/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/stamp-h?
.deps/
.dirstamp
.libs/
*.l[ao]
*~

/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/m4/
/stamp-h?
.deps/
.dirstamp
*.o
*~
test-driver
tests/*.log
tests/*.trs
/nbproject
/.cproject
/.project
Makefile
config.log
*.o
*.a

#binaries
src/asc

#tests
tests/lexer_test

#Eclipse?
.autotools
.settings

gtest
